@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#product__image {
  width: 100%;
  height: auto;
}

#banner {
  width: 100%;
  height: auto;
  outline: grey solid 1px;
}

#counter__div button {
  height: 1.75rem !important;

}


@media screen and (max-width: 800px) {
  #product__image {
    width: 85px;
    height: auto;
  }

  #banner {
    width: 100%;
    height: auto;
  }

  #first_icon {
    width: 8rem !important;
    height: 27vh;
  }

}

@media screen and (max-width: 692px) {
  #search__box {
    width: 97%;
  }

  #first_icon {
    width: 6rem !important;
    height: 20vh;
  }
}

@media screen and (max-width: 534px) {
  #first_icon {
    width: 4rem !important;
    height: 13vh;
  }
}

@media screen and (max-width: 370px) {
  #first_icon {
    width: 3.5rem !important;
    height: 12vh;
  }
}

@media screen and (max-width: 320px) {
  #first_icon {
    width: 3rem !important;
    height: 10vh;
  }
}

@media screen and (min-width: 800px) {
  #main__div {
    margin: 30px 200px;
  }

  #recommend_div {
    margin: 30px 200px;
  }

}