@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#product__image {
  width: 80%;
  height: auto;
}

#banner {
  width: 96%;
  height: auto;
  outline: grey solid 1px;
}

#image__mainDiv {
  width: 100%;
  height: 20vh;
}

#image__mainDiv .price {
  font-size: 14px;
  font-weight: 300;
  color: #3c3c3c;
  line-height: 20px;
  margin-bottom: 10px;
  margin-left: 7px;
}

#image__mainDiv .para {
  font-size: 16px;
  font-weight: 500;
  color: #3c3c3c;

  line-height: 20px;
  margin-bottom: 20px;
}

#image__mainDiv img {
  border-radius: 10px;
}

.recommended__class {
  width: 94%;
  gap: 1rem;
  margin-top: 10px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

#counter__div {
  border: 2px solid rgb(224, 224, 224);
  padding: 0;
  background-color: rgb(232, 232, 232);
  border-radius: 5px;

}

.profile__tag {
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
  line-height: 20px;
  font-style: normal;
  font-family: sans-serif;
  margin-top: 5px;
}

.cart__paragraph {
  color: #3c3c3c;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
}

.cart__image {
  width: 48px;
  height: 48px;
}

input.cart__checkbox {
  width: 24px;
  height: 24px;
}

.category__description {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  font-style: normal;
  font-family: sans-serif;
  width: 85%;
  padding: 2px 5px !important;
}

.recommend_tag {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #3c3c3c;
  margin-left: 10px;
  margin-bottom: 10px;
}

.category__carousel {
  gap: 1rem;
  height: 20vh;
}

.category__price {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
  color: #3c3c3c;
  font-style: normal;
  font-family: sans-serif;
  line-height: 20px;
}

input[type="checkbox"] {
  accent-color: #689f1c;
}


@media screen and (max-width: 1024px) {
  #image__mainDiv .para {
    font-size: 9px;
    font-weight: 500;
    color: #3c3c3c;
    font-style: normal;
    font-family: sans-serif;
    line-height: 16px;
    padding: 2px;

  }
}


@media screen and (max-width: 800px) {
  #product__image {
    width: 85px;
    height: auto;
  }

  #banner {
    width: 100%;
    height: auto;
  }

  #first_icon {
    width: 8rem !important;
    height: 27vh;
  }

}

@media screen and (max-width: 692px) {
  #search__box {
    width: 97%;
  }

  #first_icon {
    width: 6rem !important;
    height: 20vh;
  }
}

@media screen and (max-width: 534px) {
  #first_icon {
    width: 4rem !important;
    height: 9vh;
  }
}

@media screen and (max-width: 370px) {
  #first_icon {
    width: 3.5rem !important;
    height: 12vh;
  }


}

@media screen and (max-width: 320px) {
  #first_icon {
    width: 3rem !important;
    height: 10vh;
  }
}

@media screen and (min-width: 800px) {
  #main__div {
    margin: 30px 200px;
  }

  #recommend_div {
    margin: 30px 200px;
  }

}

@media screen and (max-width: 768px) {
  .recommended__class {
    width: 97%;
  }

  .category__description {
    font-size: 8px;
    width: 50%;
    padding: 0;
  }

  .category__price {
    font-size: 10px;
    width: 100%;
  }

}

@media screen and (max-width: 450px) {
  .category__carousel {
    gap: 1rem;
  }

  .category__description {
    font-size: 8px;
    width: 90%;
  }

  .category__price {
    font-size: 10px;
    width: 100%;
  }

  .recommended__class {
    width: 93%;
    grid-template-columns: repeat(2, 1fr);
  }


  #image__mainDiv .para {
    font-size: 8px;
    font-weight: 500;
    padding: 5px 5px;
    color: #3c3c3c;
    font-style: normal;
    font-family: sans-serif;
    line-height: 14px;


  }

  #image__mainDiv .price {
    font-size: 12px;
    font-weight: 300;
    color: #3c3c3c;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 7px;
  }

}